.item_card {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid black;
}

.todo_active {
    opacity: .5;
    text-decoration: line-through;
}

.item_body {
    margin-left: 10px;
    font-family: cursive;
}

.item_complete {
    margin-left: 10px;
    text-decoration: line-through;
    font-family: cursive;
    color: #6c727a;
}

.item_button {
    height: 30px;
    width: 45px;
    border: 0;
    background-color: cornflowerblue;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.item_button:hover {
    background-color: #9CBBF4;
}

.item_button:active {
    background-color: #405F98;
}

.item_button:disabled {
    background-color: #6c727a;
    cursor: default;
}

@media screen and (max-width: 640px) and (min-width: 360px) {
    .card_change {
      width: auto;
    }
  }
  
  @media screen and (max-width: 359px) {
    .card_change {
      width: auto;
    }
  }